[2013-01-09 14:02] dalb8 opened #1 "Licence pls?"
I would like to distribute this via f-droid.org but it would need to have a free software licence; one from here http://www.gnu.org/licenses/license-list.html

[2013-01-10 17:16] #1 closed, assigned to nobody

[2013-05-28 09:30] ghost opened #2 ""Autostart" re-enables after using hardware/software "menu" button/"Menu-Launcher" shortcut"
Here is the issue:
- If i disable "Autostart" option, it will be enabled if i use hardware "menu" button;
- If i disable "Autostart" it will be re-enabled when i use "Menu-Launcher" shortcut that is created by app.

I tried to enable "Autostart" and try to disable it with steps above but it stayed enabled so it is the problem in "Autostart" state on certain events.

I'm using the latest app build

[2013-09-01 21:08] dhgwilliam opened #3 "Support for "fuzzy search""
I am enchanted by the idea of this app, but anchoring the search at the beginning of the app name is problematic. As a rule of thumb, I think of the app so "kindle" not "amazon kindle". Similarly, I prefer "fdroid" over "f-droid". This change would likely affect the average length of unique results.

[2013-10-24 15:46] #3 closed, assigned to nobody

[2014-11-29 13:09] lub opened #4 "Keyboard hiding when exiting apps with back button"
Hello,

I've noticed on two devices (Wiko HIGHWAY and Samsung Galaxy S3 Mini), that when you leave an app with the device's back button the keyboard won't show up. When using the home button everything works as accepted.

Best regads
lub

[2015-08-15 20:30] vackosar commented on #4
Hi, I am refactoring the app. The keyboard hiding was there because of one of my old devices. I removed the code during refactoring.

[2015-08-15 20:30] #4 closed

[2015-08-15 20:32] vackosar commented on #2
Thank you for your report. That was original intended behaviour. This behaviour was removed during refactoring. Binaries were yet not released.

[2015-08-15 20:32] #2 closed

[2015-09-01 16:05] volnes88 opened #5 "Doesnt work hide button"
After press hide button, app doesn't list in hiden apps (android 4.0.4)

[2015-09-03 07:17] #5 closed

[2015-09-09 07:20] volnes opened #6 "Problem with "autorun" button"
When launcher killed by oom killer and was restarted, the autostart button is enabled by default, but i turn it off.
It's annoying always turn off "autorun" button when launcher restarted.

[2015-09-09 07:55] volnes opened #7 "Feature request: most used apps list or sorting by used apps"

[2015-09-13 09:57] vackosar commented on #6
Released.

[2015-09-15 09:42] volnes opened #8 "Not always showed "R:" prefix when lauched any app."
When i start any app from list of all apps and back to launcher, the "R:" prefix not showed on that app.
But if i press "Menu" button and go back to all applications list  "R:" prefix showed fine!

[2015-09-15 10:18] volnes commented on #6
Problem still here...autorun button change status from time to time...

[2015-09-20 09:36] vackosar commented on #8
Can you retest on the newest version? I changed the code architecture little bit.

[2015-09-20 10:18] volnes commented on #8
now this problem solved, but issue #6 is still here.

[2015-09-20 10:18] #8 closed

[2015-09-23 06:56] vackosar commented on #6
Couldnt reproduce on Android 5.1. Please share your Android version. Will debug on your version.

[2015-09-23 07:12] volnes commented on #6
version 4.0.4
This happen when launcher killed by oom.
When laucher was restarted Autostart button state is on (enabled).
Maybe make Autostart button is off by default?

[2015-09-23 19:45] vackosar commented on #6
Probably found the issue. Please retest.

[2015-09-23 19:46] vackosar commented on #7
Can you retest? Recently started apps should be on the top.

[2015-09-23 20:01] volnes commented on #7
Well all work now fine! awesome work!

[2015-09-23 20:01] #7 closed

[2015-09-23 20:01] volnes commented on #6
now state of button working good!

[2015-09-23 20:01] #6 closed

[2015-09-23 20:06] vackosar commented on #7
In long term, it would still be better to have all the apps sorted right? I can create a mile stone and can work out some transition steps.

[2015-09-23 20:10] volnes commented on #7
sorted by...using? i think it's good idea

[2015-09-26 18:00] bet opened #9 "Search based launcher v3 (from f-droid) doesn't see the Google Drive app"
The older search based launcher on f-droid didn't have this problem. I use a Nexus 5 running stock 5.1.1 LMY48M. I type 'dr' and it auto launches a separate app, Drive Autosync. Can't get it to start Drive.

[2015-09-26 18:58] bet commented on #9
I tried toggling off autostart, and then I could type in drive and see it, but then it launched docs, which in turn had a sidebar option to go to Drive, so perhaps Search Based Launcher isn't seeing all the distinct apps.

[2015-09-28 03:20] Syl0s opened #10 "Entering RegEx metacharacters causes a crash"
When you type RegEx metacharacters (+, *, (, ), {, }, ? etc.) into the search-field, then the launcher crashes.

Manually escaping these (i.e. typing "\\+", "\\*" etc.) fixes this.

Therefore this can be fixed by programmatically escaping these characters, before they are fed into the RegEx interpreter.

[2015-09-30 12:56] volnes opened #11 "After relaunch, launcher forget last running apps with "R:" prefix"

[2015-09-30 12:58] volnes commented on #10
+1
Yep problem is here.

[2015-10-02 15:18] vackosar commented on #10
Yes, I came to same conclusion recently. Will fix that soon.

[2015-10-02 15:19] vackosar commented on #9
Strange. Have tried searching for it in list of all activities?

[2015-10-02 15:20] vackosar opened #12 "Improve readability"
- Remove "R: " prefix.
- Use typeface monospace.
- Reduce app list padding.

[2015-10-02 15:27] vackosar commented on #12
@volnes, checkout new skin.

[2015-10-02 15:27] #12 closed

[2015-10-02 15:40] bet commented on #9
"Drive" sometimes shows up as an app, but immediately launches "Docs", it flashes the name change as soon as I tap Drive, and Docs shows up in the history. Since Docs has an option in the sidebar to get to Drive, it seems like Search Based Launcher isn't seeing both apps and is preferring Docs.

[2015-10-02 23:05] vackosar commented on #10
@Syl0s, please retest and close.

[2015-10-03 08:30] volnes commented on #12
nice looking! @vackosar Awesome work!

[2015-10-03 08:45] vackosar commented on #11
Simulated on an emulator. Will debug.

[2015-10-03 10:52] vackosar opened #13 "Refactor persistence."
Unify persistence across app:
- Implement "Persister PersisterFactory#create(Class<T> clazz)".
- Implement generic "Persister#{load, save}".
- Use Gson.

[2015-10-03 17:54] vackosar commented on #13
Significantly improved code quality.

[2015-10-03 17:54] #13 closed

[2015-10-03 17:54] vackosar commented on #11
Fixed in #13. @volnes, can you retest?

[2015-10-03 21:50] vackosar opened #14 "Introduce wallpapers."
Redesign app to allow wallpapers.

[2015-10-03 23:30] vackosar commented on #14
@volnes, introduced wallpapers.

[2015-10-03 23:30] #14 closed

[2015-10-04 08:00] volnes commented on #14
how to disable this function?

[2015-10-04 08:01] volnes commented on #11
i think now all fine now!

[2015-10-04 08:01] #11 closed

[2015-10-04 08:02] volnes commented on #10
special charaters like "\+", "\*" working. No crash

[2015-10-04 10:11] vackosar commented on #14
So far you can select black wallpaper in your android settings. But I will add this option into the app.

[2015-10-04 17:51] #10 closed

[2015-10-05 17:42] Syl0s commented on #10
Finally got the update as well. Works now as intended.

[2015-10-05 23:29] bet commented on #9
With the update to 45 (from 39) that I just got, this issue seems to be fixed. I'll try to mark the issue closed. Thanks!

[2015-10-05 23:29] #9 closed

[2015-10-06 11:25] madjo80 opened #15 "Calendar app Etar disappears from app list"
The calendar app called Etar disappears from the app list after it's first opened from the launcher.

It seems to get renamed to Calendar, but trying to reopen it with that entry "R:Calendar", opens the default calendar app, instead of Etar.

And searching for Etar results in no results.

[2015-10-06 11:28] madjo80 commented on #15
Oops. I hadn't noticed that there was a new version. Problem seems fixed in version 45

[2015-10-06 11:29] madjo80 commented on #15
Oops. I hadn't noticed that there was a new version. Problem seems fixed in version 45

[2015-10-06 11:29] #15 closed

[2015-10-07 09:32] volnes commented on #14
not needed to add this feature.
I think so)

[2015-10-07 09:35] vackosar commented on #14
Not needed to add wallpapers or to add option to have black background
wallpaper?
On Oct 7, 2015 11:32 AM, "volnes" <notifications@github.com> wrote:

[2015-10-07 09:36] volnes opened #16 "[Feature Request] Maybe add "Data" toggle?"
WiFi toggle here.
Bluetooth toggle here.
Camera here too!
Maybe add Data toggle?) above wifi toggle?
How do u think @vackosar ? its good idea?

[2015-10-07 09:42] volnes commented on #14
wow...
 This feature is needed!
I think u just add function to disable wallpapers ( but if u add option to have black background its would be very good)

[2015-10-07 09:55] vackosar commented on #14
Will do that. By default old phones have ugly wallpapers i know. Btw you
can upload a black picture as a wallpaper now or some nicer on some phones.
On Oct 7, 2015 11:42 AM, "volnes" <notifications@github.com> wrote:

[2015-10-07 10:05] volnes commented on #14
what resolution needed?
i have black wallpaper with resolution 3264x2448 but i use a QuickPic to make lower 480x854.

Maybe try to use #FF000000 or 16777216 (0xff000000) ?

[2015-10-07 10:07] vackosar commented on #14
Resolution depends on your phone.
On Oct 7, 2015 12:05 PM, "volnes" <notifications@github.com> wrote:

[2015-10-07 10:09] volnes commented on #14
![black-wallpaper](https://cloud.githubusercontent.com/assets/5400851/10334656/aa23a65e-6cfc-11e5-9f0a-59f2c745889d.jpg)

[2015-10-07 10:10] volnes commented on #14
well upload? with high res? or what?

[2015-10-08 10:24] Ferk commented on #16
IMHO, it would be cool if the stuff set in the right area as "stickies" was more customizable.

Not everyone is gonna need bluetooth or data or camera buttons in there.
Also, changing the name of those stiky icons would be nice. Possibly being able to use some [unicode emoji](https://en.wikipedia.org/wiki/Emoji) to make them more visually recognizable.

They should also have some background or som

[2015-10-10 19:48] vackosar opened #17 "Introduce black, white background option into menu."

[2015-10-10 20:24] vackosar commented on #17
@volnes, check it out!

[2015-10-10 20:42] vackosar commented on #16
@Ferk, you can submit your request as a separate ticket/issue:
- I think you have a point regarding collapsing space if feature is not present.
- I like the idea of reducing posibility of click throughts.
- I don't like playing with the icons however. Maybe later.

[2015-10-10 20:44] vackosar commented on #16
@volnes, I attempted to implement this feature already twice and failed. It is too challenging with API 7. What you can do however is to "Add" a activity for controlling the data to speed up your way to the settings.

[2015-10-10 20:44] #16 closed

[2015-10-11 08:01] volnes commented on #17
There is bug when u choose wallpaper.
![screenshot_2015-10-11-10-55-33](https://cloud.githubusercontent.com/assets/5400851/10415899/1f425f2c-7007-11e5-9b2b-0fc96890493c.png)
![screenshot_2015-10-11-10-34-54](https://cloud.githubusercontent.com/assets/5400851/10415900/2861c3ea-7007-11e5-8525-0d8c4855d35b.png)

And font on white background need to change to black color.

![screenshot_2015-10-11-10-5

[2015-10-11 08:46] volnes commented on #16
@vackosar oh, thanks! i try!

[2015-10-11 10:11] vackosar commented on #17
@volnes,
- wallpaper - yes. Will add hidden status bar.
- white - yes. Will not fix this yet.

[2015-10-11 10:15] vackosar opened #18 "Move buttons into menu and app list."
@volnes, @Ferk, what do you think about this?

# Example App List
. Menu
Browser
Calendar
. Autostart Toggle

[2015-10-11 12:25] vackosar commented on #17
@volnes, can you retest?

[2015-10-11 13:14] volnes commented on #17
Background wallpaper bug fixed, waiting for new color for white:-D
Thx for your work!

11 октября 2015 г. 15:25:33 Московское стандартное время, Vaclav Kosar <notifications@github.com> пишет:

--

[2015-10-11 15:51] volnes commented on #18
u disable all toggles from right?

[2015-10-11 17:16] vackosar commented on #18
@volnes
All toggles would appear as applications in main application list. They would have some prefix by default so that you could find out what they are a part of the launcher. To toggle autostart button you would search and start application ". Autostart".

[2015-10-11 17:18] vackosar commented on #18
@volnes, does that sound like a good idea to you? I think that would simplify the interface. I am not sure about the prefix however. How should it look like?

[2015-10-11 17:21] volnes commented on #18
@vackosar hmm...nice idea! No more false taps!

Maybe prefix "T" (as "toggles")?

[2015-10-11 17:30] vackosar commented on #18
@volnes  what about just prefixing with "Toggle ".
- Users would find out because of the prefix and because it would be verb.
- Also a popup dialog should inform them what action have been performed e.g. "Disabled autostart.".
- To search efficiently however you would have to use space character which matches anything: "t auto" would find "Toggle Autostart".

# Example
Toggle Autostart
Toggle Wifi

[2015-10-11 17:32] volnes commented on #18
:+1:

[2015-10-11 17:34] vackosar commented on #18
Sounds like a plan!

[2015-10-11 17:48] Ferk commented on #18
Sounds good.
But I guess this means that apps that start with T will also get in there.

Maybe add also a "Toggles" filter like the other filters in the options menu. That way you can get to the list of toggles with 2 taps (press menu then toggles).

[2015-10-11 18:04] vackosar commented on #18
@Ferk
yes the toggles also can be placed into menu for example.
Or add "." prefix to that. If you search for dot only toggles will be shown.

I suggest following 3 options:
- 1.: Just prefix ". Toggle ".
- 2.: Just prefix "Toggle ".
- 3.: Add toggles as extra options into Menu. Remove "Cam" toggle.

Personally I like the last best.

[2015-10-11 18:34] volnes commented on #18
@vackosar

yes!

hm...

Good idea!

[2015-10-12 20:38] vackosar commented on #18
Partially done. Moved buttons to menu and removed Cam button.

[2015-10-12 20:39] vackosar opened #19 "Optionally revert app list: Latest on the bottom."
One should scroll always from bottom to the top and the latest app should be on the bottom always just above the keyboard.

[2015-10-12 20:40] vackosar commented on #19
@volnes, what do you think?

[2015-10-12 20:43] volnes commented on #19
not bad)

[2015-10-13 05:58] vackosar opened #20 "Allow to hide the search bar."
Misunderstood request. Title changed.

[2015-10-13 07:32] volnes commented on #6
And again state of "Autorun" changing to "yes" when launcher is restarted

@vackosar

[2015-10-13 07:35] volnes commented on #20
You want to enable option to hide/show keyboard?

[2015-10-14 09:55] vackosar opened #21 "Make autostart spinner in menu load value on restart."

[2015-10-14 21:52] vackosar commented on #21
@volnes should be fixed.

[2015-10-15 05:10] volnes commented on #21
em...when you update an apk?) @vackosar

[2015-10-15 20:25] vackosar commented on #21
Is up now.

[2015-10-16 23:33] vackosar commented on #18
@volnes, @Ferk check out latest changes.

[2015-10-17 05:34] volnes commented on #18
@vackosar new look of menu button is awesome!)))
Good job!

[2015-10-17 13:47] vackosar commented on #18
@volnes, even more simplified now.

[2015-10-17 13:47] #18 closed

[2015-10-17 13:47] #21 closed

[2015-10-17 13:49] vackosar opened #22 "Redesign menu as an another list."

[2015-10-17 13:50] vackosar commented on #22
- Create AppLister objects:
  - Implement load method.
- Optionaly implement save method.
  - Implement App can hold action.

[2015-10-17 19:39] #20 closed

[2015-10-18 14:41] vackosar commented on #22
@volnes, check out new menu.

[2015-10-18 20:54] volnes commented on #22
Good lookin! But no status info for "Autostart", like a "current" for hiding searchbar

[2015-10-18 21:15] vackosar commented on #22
@volnes, can you retest? I cannot reproduce the problem on my devices.

[2015-10-19 09:14] volnes commented on #22
well i mean no status of toggle "yes or "no" on "Autostart single result.

![screenshot_2015-10-19-07-20-05](https://cloud.githubusercontent.com/assets/5400851/10573761/58b7db02-7641-11e5-9026-56b0e243902e.png)

[2015-10-19 09:15] vackosar commented on #22
Can you make a screenshot?
On Oct 19, 2015 11:14 AM, "volnes" <notifications@github.com> wrote:

[2015-10-19 09:24] volnes commented on #22
em...i make already here)))

i mean add a status for "Autostart single result" just like for  "hiding searchbar".
![screenshot_2015-10-19-07-20-18](https://cloud.githubusercontent.com/assets/5400851/10574004/d40ce9ae-7642-11e5-949f-12a51a636570.png)

[2015-10-26 07:36] volnes commented on #19
Any news about that feature?

[2015-10-26 07:37] vackosar commented on #19
Non. Didn't have time.

[2015-10-26 08:04] vackosar opened #23 "Rename to Micro Launcher"
To improve marketing.

[2015-11-04 10:55] bartverm opened #24 "Adjustable font size"
I always open the wrong app.  Font size matching more my finger size would help a lot

[2015-11-04 10:58] bartverm opened #25 "Open just one app"
When I type a name of an app, at some point it will open the app.  If I accidentally type a few more letters it sometimes opens a second app.

[2015-11-06 20:20] volnes commented on #25
change autostart single result status to "no" in settings.

[2015-11-06 20:22] volnes commented on #23
Maybe Small Search Launcher?

[2015-11-22 18:01] jruere opened #26 "Clean search box after match"
When searching for an app, if I keep typing after it matched, some characters are left when returning to the home screen.

It would be awesome if the search box was cleared when not in foreground.

[2016-01-21 20:05] volnes commented on #26
+1

[2016-03-25 06:26] r4nd0m11 opened #28 "Toggle Torch and more?"
like wifi-toggle

or maybe ability to add any action (similar to https://play.google.com/store/apps/details?id=com.sika524.android.quickshortcut )

[2016-04-16 09:53] vackosar commented on #17
@volnes Added black color for white background.

[2016-04-16 09:53] #17 closed

[2016-04-16 10:02] vackosar commented on #23
@volnes sounds quite good.

[2016-04-16 19:17] vackosar commented on #24
Done. Please check.

[2016-04-16 19:17] #24 closed

[2016-04-16 19:20] vackosar commented on #28
There is already such ability. Go to Menu -> List Selection -> activity -> back to list -> long tap on wanted activity -> add

[2016-04-16 19:20] #28 closed

[2016-04-16 19:20] vackosar commented on #19
@volnes I am afraid people may find it confusing. What do you think?

[2016-04-16 19:20] vackosar commented on #23
not for now

[2016-04-16 19:20] #23 closed

[2016-04-16 19:26] vackosar commented on #26
@jruere interesting as this never happened to me. I will have a look

[2016-04-16 21:15] vackosar commented on #26
@jruere @volnes resolved please check and reopen if not fixed.

[2016-04-16 21:15] #26 closed

[2016-04-16 21:16] vackosar commented on #25
This should be resolved by #26 . Please test and if needed reopen this issue.

[2016-04-16 21:16] #25 closed

[2016-04-16 21:18] vackosar commented on #22
@volnes seems the cause is likely that the text description is too long.

[2016-04-16 21:25] vackosar commented on #22
@volnes I shortened the items including the one above please retest.

[2016-04-16 21:25] #22 closed

[2016-04-18 16:08] jruere commented on #26
I cannot reproduce anymore. Thanks!

[2016-04-19 11:59] husadd commented on #19
IMO just add an option for it.. better than forcing everyone to use it that way :)

[2016-04-19 18:29] volnes commented on #19
@vackosar yes it's confusing a little

[2016-04-19 18:30] volnes opened #29 "Hide keyboard option"
Could u add hide keyboard at start?
Until u tap on search bar?

[2016-04-19 19:34] vackosar commented on #29
@volnes sounds like interesting option. Will have a look if it is possible.

[2016-04-22 07:36] volnes commented on #29
@vackosar if u add this feature, it's awesome:-D
This feature makes Visual style of launcher more polished

[2016-04-23 19:07] vackosar commented on #29
@volnes Done, please retest.

[2016-04-23 19:07] #29 closed

[2016-04-23 19:32] volnes commented on #29
Well, it's work! Good job

[2016-04-27 07:01] volnes opened #30 "Restart launcher and Clear History options"
I think it's useful options @vackosar what u think?

[2016-04-27 22:26] vackosar commented on #30
@volnes sounds good!

[2016-05-07 13:51] computerinfo21 opened #31 "Feature Request - Switch to running instance of apps"
Would be really nice if instead of launching the app each time it would switch back to the running instance. This would make it ideal to switch between apps, not just launch them.
Currently it always goes to the main activity of an app, even if you previously left the app on a different activity.

[2016-05-13 04:15] volnes opened #32 "[bug]After reboot some apps may not showing in app list"
This happens every time when my phone rebooting, after restart launcher twice, all fine

[2016-05-23 08:18] J316 opened #33 "[FEATURE REQUEST] - Search more fields"
Search through package names, phone numbers, email addresses, contacts, files, folders, calendar events, settings and sub-menus, bookmarks, media library, etc.

[2016-05-23 08:21] J316 opened #34 "[FEATURE REQUEST] - Beautify UI"
Give it a slightly nicer UI by separating search field with a line, making possible to align text to left or right too, adding apps and toggles icons

[2016-06-05 15:06] volnes commented on #34
Nah...icons not needed, simple text based interface is feature of this launcher

[2016-06-18 11:06] vackosar commented on #34
@J316,
- Text aligning is already possible. See menu.
- Will consider adding icons as optional.

[2016-06-18 11:06] vackosar commented on #33
You can search through packages by selecting list in menu: Activities.

[2016-06-18 11:08] vackosar commented on #31
Interesting, will look into that.

[2016-06-22 04:38] computerinfo21 commented on #31
Usually it does switch back correctly, but there are instances when it does not.

This may be the fault of individual apps not saving their state correctly, but it is frustrating to have to even think about when it is safe to use Search Based Launcher to switch between apps and when it is not.

An easy test is Simpletask (https://f-droid.org/repository/browse/?fdid=nl.mpcjanssen.simpletask). While

[2016-06-28 05:26] volnes opened #35 "Improve search"
I have an app No Frills CPU control, when i try to write "CPU", there no matches.
If an app have a long name, search doesn't work

[2016-07-24 13:44] jruere opened #36 "sometimes reopens app when pressing home"
On some occasions, after opening an app, using it and the pressing the home button, the app reopens.

This can be reproduced reliably this way:
1. Type the apps name
2. The app opens
3. Press back
4. The app closes and reopens immediately

If the app name in the list is pressed, this doesn't happen.

[2016-07-30 10:15] vackosar commented on #32
Can you be specific on which apps do this? I am resolving similar issue just now.

[2016-07-30 10:58] vackosar commented on #31
Please retry as soon as I release. I am attempting to fix this, but was not able to simulate the issue as was always getting to the Simpletask Main Screen regardless launcher.

[2016-07-30 11:00] vackosar commented on #35
To match you would have to write " CPU". Space is interpreted to any string of charaters. Otherwise you can rename the app to have CPU first.

[2016-07-30 11:00] #35 closed

[2016-07-30 11:47] vackosar commented on #36
Just reproduced it. Lookin for fix.

[2016-07-30 12:19] #33 closed

[2016-07-30 12:20] #34 closed

[2016-07-30 12:41] vackosar commented on #30
Please retry.

[2016-07-30 12:41] #30 closed

[2016-07-30 12:46] vackosar commented on #36
Please retry.

[2016-07-30 12:46] #36 closed

[2016-07-30 12:46] vackosar commented on #32
Can you retry on latest version?

[2016-07-30 12:47] vackosar commented on #19
Wont be implemented for now.

[2016-07-30 12:47] #19 closed

[2016-07-30 13:27] jruere commented on #36
Works perfectly. Thanks!

On Jul 30, 2016 3:46 PM, "Vaclav Kosar" <notifications@github.com> wrote:

[2016-07-31 03:49] computerinfo21 commented on #31
Awesome! Thanks for working on it!
Just updated to version 58 and tested again, same result unfortunately.

I dug through some code and read some about it and it looks like re-ordering the task to the front might be the only fix for apps that do not behave properly.
Activity Manager has a "moveTaskToFront()" that should work. It would require getting a list of running tasks and checking them to se

[2016-08-03 01:12] sm7297 opened #37 "Search contacts and call on click"
It would be great to be able to search contact and call or msg them from the home activity and sometimes when I type on keyboard it does not write on the textbox

[2016-08-07 11:30] rocker1966 opened #38 "Feature request. Allow manual sorting app list"
It would be convenient to sort apps manually. Now recently launched app goes to top. If one has not so many apps it may be good to have fixed list

[2016-09-22 13:46] snan opened #39 "Two apps launch"
I've figured out what makes it so that sometimes two apps launch: it's because if I type more characters after the first app has launched, Search Based Launcher is still listening.

For example, I have two apps "Notes" and "Text Fiction". I started writing "note" because I wanted to launch "Notes", and "no" was enough to launch "Notes" unambiguously, and "te" was enough to launch "Text Fiction" un

[2016-09-29 11:33] poosey opened #40 "Allow alphabetical sorting of apps"
This would make this launcher perfect. An option to disable recent apps being on the top would also be a significant improvement

[2016-10-06 12:52] FPMilan opened #41 "Option to give apps different name"
As I don't use only stock apps it would be nice to change the app that is opened by typing eg Mail.
Thanks for your work, it is great!

[2016-10-07 05:42] volnes opened #42 "[Bug] After rename app and delete it, app name stay in app list"
Hi, found some bug install an app JumpGo, i rename it to different name and delete this app, but in app list this app name still here. When I try to run it nothing happens.

[2016-10-07 05:54] volnes commented on #30
When i make first run  "clear history and restart" all works, when i try it again later nothin happens, launcher doesn't restarts

[2016-11-07 08:01] XyLoNaMiyX commented on #41
Names can already be changed in the app, simply hold the app you wish to change its name to. This also allows you to either uninstal or hide the app.

[2016-11-11 08:20] cyBerta opened #44 "Move to Dagger2?"
Hey Vackosar,
you've probably noticed that Roboguice is deprecated since August 2016.  What do you think about moving to Dagger2? This also could optimize the performance as it's faster than Roboguice. I could also help in December to realize the migration.

Cheers!

[2016-11-12 20:59] friedger opened #45 "Include global search results"
Android comes with a global search mechanism, known as quick search box. It would be nice to add the search results from there as well.

[2016-12-12 03:59] noaoh opened #46 "Add ability to change font"

[2016-12-28 18:58] vackosar commented on #39
Sorry noticed just now thanks to @cyBerta . Strangely I haven't received any mail regarding this.

[2016-12-28 19:30] vackosar commented on #39
@snan on which android version this issue occurs?

[2016-12-28 20:10] vackosar commented on #39
@cyBerta, this seems to be rather problem with OnResumeEvent being executed too early or unexpectedly as text shouldn't be cleared until application is resumed. I was forced to use OnResumeEvent this instead of the OnStartEvent as there were complaints text wouldn't get cleared at all in the past.

[2016-12-28 20:12] vackosar commented on #44
I didn't like Dagger 2 in the past. RoboGuice is really convenient. Is there something more similar to RoboGuice?

[2016-12-28 20:15] vackosar commented on #45
I don't plan anything major like this suggestion. Also it would be departure for current apps simplicity.

[2016-12-28 20:15] #45 closed

[2016-12-28 20:16] #41 closed

[2016-12-28 20:17] vackosar commented on #37
Issue #45 is similar to #this.
I don't plan anything major like this suggestion. Also it would be departure for current apps simplicity.

[2016-12-28 20:17] #37 closed

[2016-12-28 20:19] XyLoNaMiyX commented on #41
No problem ^^

[2016-12-28 20:19] vackosar commented on #38
Not sure about sorting manually, but what about rather allowing to turn off "recent apps on top" functionality?

[2016-12-28 20:20] vackosar commented on #38
Actually that is suggested in #40. I will consider only that one for now.

[2016-12-28 20:20] #38 closed

[2016-12-28 21:21] vackosar commented on #31
Apparently getting list of runnign tasks won't be that easy see https://developer.android.com/reference/android/app/ActivityManager.html#getRunningTasks(int)
However I may have used wrong flag previously. Testing...

[2016-12-28 21:28] vackosar commented on #32
@volnes, is this still a problem?

[2016-12-28 22:41] vackosar commented on #42
@volnes, I confirm. The cause it that does not catch uninstall event properly and does not remove app from extra and hidden app list. Manual fix for this is to use App List Selection from Menu and remove manually. Will fix this soon.

[2016-12-29 07:17] snan commented on #39
I'm on 4.2.2 (yeah, I know).
But not sure it's `OnResumeEvent` that's the culprit. The behavior is that I'm in search-based-launcher continuously, typing in the word (the list clearing after the two words), then after that the two apps start.
I.e. it doesn't leave search-based-launcher so it can't resume.

`clearText` is called on `OnResumeEvent`, yes, but that's not the only place, it's called in

[2016-12-29 13:05] vackosar commented on #39
You are right it is in the `AppExecutor.act` as well. It was added as part of #36.

[2016-12-29 13:11] vackosar commented on #39
I think rather moving the `clearText` call into `onPauseEvent` block would be better. But I admit that some kind of blocking boolean may be still needed.

### Refs:
- https://developer.android.com/guide/components/activities/activity-lifecycle.html
- https://github.com/roboguice/roboguice/wiki/Using-Events-in-your-RoboGuice-application

[2016-12-29 13:18] vackosar commented on #39
I cannot reproduce the issue described, so you will have to test this on your device. I will release soon including the onPauseEvent clearing to satisfy both #36 and this #39.

[2016-12-29 15:05] vackosar commented on #39
I've added a commit that may fix or improve the issue, will release it soon.

[2016-12-29 17:58] vackosar commented on #39
I can reproduce this issue now on one of my devices. Will be able to fix properly.

[2016-12-29 18:50] vackosar commented on #39
@snan, can you retest with version 59?

[2016-12-29 18:51] vackosar commented on #31
@computerinfo21 can you retest on v59?

[2016-12-29 18:51] vackosar commented on #40
New option added. @poosey can you restest on v59?

[2016-12-29 18:51] vackosar commented on #42
@volnes can you restest on v59?

[2016-12-29 18:52] vackosar commented on #46
I would like this too, but did have time right now.

[2016-12-30 18:11] vackosar commented on #42
Please reopen if this is still issue on v59.

[2016-12-30 18:11] #42 closed

[2016-12-30 18:11] vackosar commented on #39
Please reopen if this is still an issue on v59.

[2016-12-30 18:11] #39 closed

[2016-12-30 18:11] vackosar commented on #32
Please reopen if this is still issue on v59.

[2016-12-30 18:11] #32 closed

[2016-12-30 18:11] vackosar commented on #31
Please reopen if this is still issue on v59.

[2016-12-30 18:11] #31 closed

[2016-12-30 18:12] vackosar commented on #40
Please reopen if this is still issue on v59.

[2016-12-30 18:12] #40 closed

[2017-01-01 01:28] computerinfo21 commented on #31
Nope, still not fixed when I test with Simpletask. I wrote some code and submitted a pull request to KISS (another search based launcher, see https://github.com/Neamar/KISS/pull/489/commits/4b77c3051cccca3c8c9405caf9565804312b17af).
When I was testing trying to get it to work for that pull request, getting the running tasks and re-ordering to the one to the front was the only thing that worked to

[2017-01-01 20:26] vackosar commented on #31
I am sorry that it did not fix the problem. I cannot afford to ask users for the permission listed in https://github.com/vackosar/search-based-launcher/issues/31#issuecomment-269542731
But if you really want to have some special code, you can always rebuild the project with that personal change you would like to have. It is however more laborious.

[2017-01-01 20:27] vackosar opened #48 "User Poll: How many people would like to search more than just apps?"
I got requests to include not only app list but also other lists like contacts or webpages.
Please use reaction buttons on this comment on top right - thumbs up or down.

[2017-01-01 21:11] computerinfo21 commented on #31
Understandable. I probably will build a custom version for myself & keep it updated with changes you make since it is an issue I deal with. Keep making this launchear better! It is fantastic!

[2017-01-01 21:18] computerinfo21 commented on #48
I think those would be helpful, preferably with option to disable in case they cause a performance hit & some users want to disable.
Being able to bring up things in settings quickly might be nice as well - bluetooth, wireless, etc

[2017-01-01 21:30] computerinfo21 commented on #48
Ah, love the control already available! Just remembered the ability to add activities & did that for wireless settings & was coming back to modify comment to say no need - can already do what I suggested.

[2017-01-01 21:33] computerinfo21 commented on #48
Could you implement the search as just sending an intent to a browser with that search term or possibly a search engine url with that search appended instead of showing results natively in SBL? That way could add preferred search engines as well.

[2017-01-03 21:27] vackosar commented on #37
Reconsidering in #48

[2017-01-03 21:27] vackosar commented on #45
Reconsidering in #48

[2017-01-04 19:29] friedger commented on #48
Searching in apps are part of the Android API, not Google's.

[2017-01-07 09:44] snan commented on #39
Yes, this fixes the issue. Thank you so much!

[2017-02-04 07:48] vackosar opened #49 "Custom top apps"
Option to pin apps to top with fixed ordering.

[2017-02-12 15:14] NicoLPFR opened #50 "Option to hide Bluetooth/Wifi toggles"
Hiding the toggles doesn't work, as opposed to apps.

[2017-02-12 15:35] jruere commented on #50
This would be neat.

On Feb 12, 2017 18:14, "NicoLPFR" <notifications@github.com> wrote:

[2017-02-13 09:21] NicoLPFR commented on #50
By the way, renaming the Bluetooth/Wifi toggles also doesn't seem to work (it won't stick after a reboot).

[2017-03-01 15:06] mlaps opened #51 "App list empty"
I've been using search based launcher for about a year as an app drawer replacement on my Note 2.  I just got a Note 4 and installed SBL from F-Droid v59 and the application list to be empty.  I've restarted a couple of times and also waited for a bit in case it needed some time to populate the list, but still nothing.  Previously I was rooted and running Cyanogenmod 12.1, but this should work on

[2017-03-01 17:01] jruere commented on #51
Try clearing the cache of the app, that fixes it for me.

This has begun happening to me too after switching to an S7.

[2017-03-01 17:47] mlaps commented on #51
Thanks for the suggestion, but clearing cache did not fix the issue.  I've also tried completely uninstalling and reinstalling.  No change.  The menu items all work perfectly, and the screen for the application list is there, the keyboard pops up, etc...  Just no items in the list (and typing the name of an application also does not do anything).

[2017-03-01 20:17] jruere commented on #51
It must be something else then. A re-install also should fix the problem I
see.

On Mar 1, 2017 8:47 PM, "mlaps" <notifications@github.com> wrote:

[2017-03-07 18:31] mlaps commented on #51
I did not dwell on this, as it was always my attention to root and install a rom, and I was hoping that when I did that the issue would go away.  However I just installed a new Marshmallow ROM yesterday, and still no luck with the launcher.  I noticed that another app I use, Hangar, that bases ordering depending on the amount of time spent in the app required the explicit granting of permissions n

[2017-03-08 14:35] jruere commented on #51
It does work most of the time so it does not look as a permission issue.

On 07/03/17 21:31, mlaps wrote:

[2017-03-09 12:22] mlaps commented on #51
For me I can't get it to work at all on this phone.  App list is always empty.  Hopefully next week I will have time to try and install an AOSP based rom and see if I can get the app list to populate.

[2017-03-10 21:59] mlaps commented on #51
Flashed Lineage 14.1 today and installed Search Based Launcher first thing and everything is working normally,  So my best guess is there is some TouchWiz compatibility issue (or at least TW as implemented on the Note 4).  But I'm just happy to have my text launcher back.

[2017-03-26 11:09] brainard52 opened #52 "columnize apps"
Would be cool to have otwo or three columns of text

[2017-04-10 12:48] trims opened #53 "Yandex browser not appear on list"
I just installed yandex browser, however it not appear on app list.
But i can run it properly on default launcher.

Any workaround for thia issue?

[2017-04-21 11:32] ayongPM opened #54 "An option to turn off/on app icons"

[2017-06-11 22:18] Gatienzo opened #55 "No search result and crashes in Android 6"

[2017-08-19 01:57] ELAD3356P opened #56 "an option to force portrait mode"

[2017-10-02 12:37] #56 closed

[2017-12-08 11:38] shamsartem commented on #54
This would be cool. It would be easier and faster to find what you need in case there are two apps, which names start with the same letters

[2018-01-17 11:25] junkbond07 commented on #55
Same for me. I'm working on Open Android (6.0.1) FairPhone 2.
No search result but don't crash

[2018-01-27 23:07] T31337 opened #57 "Customization Settings"
Some customization options would be nice, such as text color, widgets page, other?

[2018-04-12 15:13] 04005003 opened #58 "Icon"
Maybe add option for app.icon

[2018-10-12 09:28] v1nc opened #59 "Status bar transparency with wallpaper"
If you select a wallpaper, the statusbar is just black.
It would be nice if you can enable a transparency statusbar with the selected wallpaper.

[2018-10-12 10:04] v1nc opened #60 "Color customization"
I really like the minimal theming, but it would be nice if you can change the color value of a selected item and the text color.
I don't want to fork the whole project just to change two hex colors.

[2018-10-12 10:10] v1nc commented on #48
I think this should be optional. Maybe there could be a method to choose for what you search. Beside the minimal theming, autostaring apps and only searching for apps are the only functional differences between this launcher and the kiss launcher.
If you search for contacts every time you type something, the autostaring apps feature is obviously broken.

[2019-05-13 15:45] Unknown100name opened #61 "Match The Words in the middle of the apps' name"
Some apps' name have a same Prefix (exp:"Google Play" \ "Google map")
**Suggest that the words what i enter could match the middle characters**
for example - entering "play" could open Google play if it's the only one left

[2019-05-13 15:45] Unknown100name opened #62 "Match The Words in the middle of the apps' name"
Some apps' name have a same Prefix (exp:"Google Play" \ "Google map")
**Suggest that the words what i enter could match the middle characters**
for example - entering "play" could open Google play if it's the only one left

[2019-05-13 15:46] Unknown100name opened #63 "Give apps some nickname(alias)"
Some apps' spelling ways for me maybe more than one (exp: "SSR" or "ShadowsocksR")
**Suggest that any apps could have some alias(nickname) for various ways to open it**
for example - entering "SSR" or "ShadowsocksR" both can open it if it's the only one left

[2019-05-14 16:15] jruere commented on #62
If you type a space before beginning to write, it will match anywhere.

Maybe this feature should be more prominent.

[2019-05-18 14:07] #61 closed

[2019-05-18 14:07] #62 closed

[2019-10-21 00:05] jruere opened #64 "List of applications broken when displaying keyboard on android 9"
The phone is an A20. I got a notice saying that this app would not work correctly on my version of android.
Which other information can I provide?

[2020-10-02 07:28] slackhead opened #65 "Menus sometimes disappear"
I love this, but sometimes all the menus disappear and I have to 'clear data'  in apps to start again from scratch.

It seems to be connected with looking at 'apps' or 'storage' in the settings, because it usually happens after looking at settings.

Running cyanogenmod 9

[2022-01-07 14:10] Wakag12 opened #66 "My shit"
Open with word my shit on google search bar